<!DOCTYPE html>
<html lang="en">
<head>
    <title>Minor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Import Css here -->
    <link rel="stylesheet" href="/Bundle/vendor/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/Bundle/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Bundle/vendor/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/Bundle/vendor/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/Bundle/vendor/owlcarousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/Bundle/vendor/wow/animate.min.css">
    <link rel="stylesheet" href="/Bundle/Css/style.min.css">
    <!-- End Import Css -->
</head>
<body>
    @RenderBody()
    <!-- Import Script here -->
    <script src="/Bundle/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="/Bundle/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Bundle/vendor/owlcarousel/owl.carousel.min.js"></script>
    <script src="/Bundle/vendor/wow/wow.min.js"></script>
    <script src="/Bundle/vendor/counterup/jquery.waypoints.min.js"></script>
    <script src="/Bundle/vendor/counterup/jquery.counterup.min.js"></script>
    <script src="/Bundle/js/app.min.js"></script>
    @*<script src="/Bundle/js/site.js"></script>*@
    <!-- End Import Script -->
</body>
</html>
